section {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
header {
  margin: 0 auto;
  margin-top: 20px;
}
img {
  width: 200px;
  border-radius: 10px;
}
div {
  width: 900px;
  margin: 0 auto;
  padding: auto;
  border: 1px solid brown;
  box-sizing: border-box;
  border-radius: 10px;
}
body {
  padding: 0px;
  margin: 0px;
  background: url(../img/fon.jpg);
}
.shp {
  background: #082567;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 50px;
  display: flex;
}
.v-c {
  margin: 10px;
  margin-top: -30px;
  margin-right: 70px;
  margin-left: 30px;
  width: 150px;
}
.v-c img {
  height: 140px;
  width: auto;
}
.menu {
  height: 60px;
  margin-top: 0px;
}
h1 {
  min-width: 150px;
  text-align: center;
}

/*menu*/

.dws * {
  margin: 0px;
  padding: 0px;
}
.dws ul {
  list-style: none;
}
.dws > ul {
  display: flex;
  justify-content: center;
}
.dws > ul li a {
  display: block;
  background: #c3c6eb;
  padding: 15px;
  font-size: 25px;
  color: #082567;
  text-decoration: none;
  transition: all 0.4s ease;
}
.dws ul li {
  border-right: 2px solid #5d73b4;
}
.dws > ul > li:first-child {
  border-left: 2px solid #5d73b4;
}
.dws li a:hover {
  background: #082567;
  color: #fff;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.5s ease;
}

/*sub menu*/

.dws li ul {
  position: absolute;
  display: none;
}
.dws li ul li {
  border: 1px solid #5d73b4;
}
.dws li ul li a {
  padding: 15px;
  background: #c3c6eb;
  min-width: 83px;
}
.dws li:hover > ul {
  display: block;
}
.dws li ul li ul {
  margin-left: 157px;
  background: #b1b5db;
  position: absolute;
  top: 0px;
}

/*popular*/

.popular {
  font-size: 50px;
}
.popular-drama {
  font-size: 50px;
}
.poster {
  height: 368px;
  width: 201px;
  font-size: 20px;
  color: #1d0d61;
  margin-top: 0px;
}
.poster h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.poster p {
  margin-top: 0px;
  font-size: 20px;
}
.posterline {
  margin-top: 0px;
  padding: 0px;
  display: flex;
  height: 368px;
}
.popularword {
  color: #082567;
  margin: 15px;
}
.popular a {
  text-decoration: none;
  color: #1d0d61;
}
.glav-left img {
  height: 400px;
  width: auto;
}
.glav-left {
  margin-left: 0px;
  height: 440px;
  width: 282px;
}
.glav {
  height: 700px;
  padding: 0px;
  font-size: 25px;
  color: #1d0d61;
}
.nazvan {
  font-size: 40px;
  color: #082567;
  text-align: center;
  padding: 0px;
}
.nazvan h1 {
  margin: 0px 0px 20px 0px;
}
.imdb {
  display: flex;
  font-size: 33px;
  width: 282px;
  height: 37px;
  margin-top: 0px;
}
.glav-img {
  height: 402px;
  width: 283px;
}
.imdb img {
  height: 57px;
  width: auto;
  margin-top: -12px;
  margin-left: 10px;
}
.imdb h5 {
  margin-top: 3px;
  margin-left: 17px;
}
.kp {
  height: 40px;
  display: flex;
  width: 40px;
  margin-left: 0px;
}
.kp img {
  height: 38px;
  margin-top: -2px;
  margin-left: 35px;
}
.kp h5 {
  margin-left: 20px;
}
.glav-right {
  margin-right: 0px;
  height: 440px;
  width: 590px;
}
.glav-bottom {
  height: 260px;
  margin: 0px;
  padding-left: 20px;
}
.glav-bottom p {
  margin-top: 0px;
  font-size: 30px;
}
.glav-top {
  display: flex;
  height: 440px;
}

/*table*/

table * {
  padding: 0px;
  margin: 0px;
}
table td {
  height: 40px;
  width: 295px;
  border-bottom: 2px solid #5d73b4;
  font-size: 20px;
  box-sizing: border-box;
}
.fl {
  background: url(../img/fonk.jpg);
}
.recen-glav {
  padding-top: 0px;
  font-size: 25px;
  color: #25195f;
  height: auto;
}
.recen h5 {
  font-size: 25px;
}
